{% extends "store/base.html" %}
{% block title %}Stock List{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2 class="mb-4 text-center">Stock Entries</h2>

    <table class="table table-bordered text-center">
        <thead class="table-dark">
            <tr>
                <th>Voucher No</th>
                <th>Item</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in grouped_receipts %}
            <tr>
            <td>{{ entry.voucher_number }}</td>
            <td>{{ entry.stock_item__name }}</td>
            <td>{{ entry.total_quantity }}</td>
            <td>{{ entry.unit_price|floatformat:2 }}</td>
            <td>{{ entry.total_price|floatformat:2 }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No stock entries found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
